* {
  margin: 0;
  padding: 0;
  background-color: white;
}

.addButton {
  background-color: red;
  padding: 10px;
  margin-left: 20px;
}

.deleteButton {
  margin-left: 20px;
  padding: 10px;
  background-color: green;
}

.buttonTotal {
  padding: 20px;
  margin-top: 500px;
  display: flex;
  text-decoration: center;
}
